# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [8]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30000, size=100, dtype='l'))
s3

0     16418
1     29927
2     19038
3     25681
4     23864
      ...
95    11149
96    22260
97    28390
98    17567
99    26963
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [9]:
df=pd.concat([s1,s2, s3],axis=1)
df.head()

   0  1      2
0  4  3  16418
1  3  1  29927
2  3  2  19038
3  1  2  25681
4  3  2  23864

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [13]:
df.rename(columns={0:'bedrs', 1:'bathrs',2:'price_sqr_meter'}, inplace=True)
df.head()

   bedrs  bathrs  price_sqr_meter
0      4       3            16418
1      3       1            29927
2      3       2            19038
3      1       2            25681
4      3       2            23864

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [16]:
bigcolumn=pd.concat([s1,s2, s3],axis=0)
bigcolumn.to_frame()
bigcolumn.head()

0    4
1    3
2    3
3    1
4    3
dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [17]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [19]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn.tail()

295    11149
296    22260
297    28390
298    17567
299    26963
dtype: int32